root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
indent_size = 2
indent_style = space
insert_final_newline = true

[*.{py,rs,go,elm}]
indent_size = 4
indent_style = tab

[*.erl]
indent_size = 2
indent_style = tab

[*.toml]
indent_size = 2
indent_style = tab

[*.elm]
indent_size = 4
indent_style = space

[*.{vim,vimrc,gitconfig}]
indent_style = tab
