*.bak

*.pyc

.tmux/plugins/*
.tmux/resurrect/*

.vim/ansiesc.vba
.vim/autoload
.vim/autoload/plug.vim
.vim/doc/*
.vim/plugged/*
.vim/plugin/cecutil.vim
.vim/undodir/*
.vim/view/*

node_modules
.buildpath
.project

.DS_Store
